<% include ../partials/header%>
    <div class="container">
        <div class="row">

            <h1 style="text-align:center">Edit <%=template.name%></h1>
            <div style="width:30%;margin:25px auto;">
                <form action="/templates/<%=template._id%>?_method=put" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="template[name]" value="<%=template.name%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="template[preview]" value="<%=template.preview%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="template[copy]" value="<%=template.copy%>">
                    </div>
                    <div class="form-group">
                        <!-- <input class="form-control" type="text" name="template[category]" placeholder="Enter the category eg:-Ethics,recruitment,enviroment,english"> -->
                        <select name="template[category]" class="form-control">
                            <option value="Enviromental">Enviromental</option>
                            <option value="Ethics">Ethics</option>
                            <option value="English">English</option>
                            <option value="Ngo_recruitment">NGO Recruitment</option>
                            <option value="Club_recruitment">Club Recruitment</option>
                          </select> 
                    
                    </div>
                    <div class="form-group">
                        <input class="btn btn-default btn-block btn-primary" type="submit" value="Submit">
                    </div>
                </form>
                <a href="/templates">Go Back</a>
            </div>
        </div>
    </div>
<% include ../partials/footer%>