<%include ../partials/header%>



    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to Gotemps</h1>
                <p>View our hand-picked google form templates from all over the world</p>
                <br>
                <p>
                    <a class="btn btn-lg btn-primary" id="add" href="/templates/new">Add new template</a>
                </p>
            </div>
        </header>

        <div>



            <section>
                <header>
                    <h2>Ethics and Values</h2>
                </header>
                <br><br>
                <div class="row text-center">
                    <%templates.forEach(function(template){%>
                        <%if(template.category=="Ethics"){%>

                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail">
                                    <!-- <img src="" alt="image of the template"> -->
                                    <div class="caption ">
                                        <h4>
                                            <%=template.name%>
                                        </h4>
                                    </div>
                                    <p>
                                        <a class="btn btn-primary" href="/templates/<%=template._id%>">More Info</a>
                                    </p>
                                </div>
                            </div>
                        <% }%>
                    <% })%>
                </div>


            </section>

            <br>
            <br>


            <section>
                <header>
                    <h2>Enviromental Sciences</h2>
                </header>
                <br><br>


                <div class="row text-center">
                    <%templates.forEach(function(template){%>
                        <%if(template.category=="Enviromental"){%>

                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail">
                                    <!-- <img src="" alt="image of the template"> -->
                                    <div class="caption ">
                                        <h4>
                                            <%=template.name%>
                                        </h4>
                                    </div>
                                    <p>
                                        <a class="btn btn-primary" href="/templates/<%=template._id%>">More Info</a>
                                    </p>
                                </div>
                            </div>
                        <% }%>
                    <% })%>
                </div>


            </section>
            <br>
            <br>

            <section>
                <header>
                    <h2>English Surveys</h2>
                </header><br><br>
                <div class="row text-center">
                    <%templates.forEach(function(template){%>
                        <%if(template.category=="English"){%>

                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail">
                                    <!-- <img src="" alt="image of the template"> -->
                                    <div class="caption ">
                                        <h4>
                                            <%=template.name%>
                                        </h4>
                                    </div>
                                    <p>
                                        <a class="btn btn-primary" href="/templates/<%=template._id%>">More Info</a>
                                    </p>
                                </div>
                            </div>
                        <% }%>
                    <% })%>
                </div>
            </section>

            <br>
            <br>

            <section>
                <header>
                    <h2>Club Recruitment Forms</h2>
                </header><br><br>
                <div class="row text-center">
                    <%templates.forEach(function(template){%>
                        <%if(template.category=="Club_recruitment"){%>

                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail">
                                    <!-- <img src="" alt="image of the template"> -->
                                    <div class="caption ">
                                        <h4>
                                            <%=template.name%>
                                        </h4>
                                    </div>
                                    <p>
                                        <a class="btn btn-primary" href="/templates/<%=template._id%>">More Info</a>
                                    </p>
                                </div>
                            </div>
                        <% }%>
                    <% })%>
                </div>
            </section>
            <br>
            <br>

            <section>
                <header>
                    <h2>NGO Recruitment forms</h2>
                </header><br><br>
                <div class="row text-center">
                    <%templates.forEach(function(template){%>
                        <%if(template.category=="Ngo_recruitment"){%>

                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail">
                                    <!-- <img src="" alt="image of the template"> -->
                                    <div class="caption ">
                                        <h4>
                                            <%=template.name%>
                                        </h4>
                                    </div>
                                    <p>
                                        <a class="btn btn-primary" href="/templates/<%=template._id%>">More Info</a>
                                    </p>
                                </div>
                            </div>
                        <% }%>
                    <% })%>
                </div>
            </section>
            <br>
            <br>
        </div>

    </div>

    <script>

    $("#add").click(function(){
        console.log("damn nigger");
        if(!currentUser){
            console.log("damn fucker");
            jQuery("#login_button")[0].click();
        }
    });

    </script>
    <%include ../partials/footer%>